/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Days+One&display=swap');

/********** Global **********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
body{
    font-family: var(--mainfont);
}   
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;
}   
/* variabuls */
:root{
    --main-color: #CBFE1C;
    --desc-color: #ACAFB4;
    --dark-color: #0b0e13;
    --mainfont: 'Chakra Petch', sans-serif;
    --secondfont: 'Days One', sans-serif;
    --main-gradient: linear-gradient(
    to right,
    #cbfe1c,
    oklch(79.2% 0.209 151.711)
  );
}
